@import url("css/myBtn.css");

/* Index */



/* Header */
.top-nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: var(--font_size-details);
    z-index: 9999;
    background: no-repeat center linear-gradient(to bottom, #FADBD8, 85%, #CCCCFF);
    color: white;
    padding: 1vh 0;
  }
  
  .top-nav .logo {
    flex-basis: 20%;
    height: 65px;
    width: 100px;
    background: no-repeat center/70%;
    cursor: pointer;
  }
  
  .top-nav .action-menu {
    padding-left: 8%;
    align-content: flex-start;
    flex-basis: 20%;
  }
  
  @media (max-width: 768px) {
    .top-nav {
      position: fixed;
      top: 0;
      width: 100%;
      height: 12vh;
    }
  
    .top-nav .logo {
      flex-basis: 20%;
      background: no-repeat center/70%
    }
  
    .top-nav .action-menu {
      margin-left: auto;
    }
  }
  
  @media (max-width: 768px) {
    .top-nav .logo {
      flex-basis: 20%;
      background: no-repeat center/50%
    }
  }

  /* Menu */
  .menu {
    flex-basis: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .menu li {
    list-style: none;
    padding: 0.7%;
    margin: 0 2%;
    text-align: center;
    position: relative;
  }
  
  .menu li:hover,
  .menu li:active {
    cursor: pointer;
    background-color: var(--c_black);
    border-radius: 8px;
  }
  
  .menu li .sub-menu {
    position: absolute;
    left: 50%;
    transform-origin: top;
    transform: translateX(-50%) scaleY(0);
    transition: transform 175ms ease-out;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    /* background: linear-gradient(to bottom, black, var(--c_green)); */
    background: linear-gradient(black 100%, var(--c_green) 125%);
    padding: 10%;
    border-radius: 4px;
    overflow: hidden;
    height: auto;
    width: max-content;
  }
  
  .menu li:hover .sub-menu,
  .menu li:active .sub-menu,
  .menu li:active .sub-menu {
    transition: transform 175ms ease-in;
    transform-origin: top;
    transform: translateX(-50%) scaleY(1);
    z-index: 999;
    cursor: pointer;
  }
  
  .menu li .sub {
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px #48C9B0;
  }
  
  .menu li .sub-menu a {
    width: 100%;
    padding: 4% 0;
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px #48C9B0;
    font-size: var(--font_size-description);
    border-radius: 4px;
  }
  
  .menu li a {
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px #48C9B0;
  }
  
  .menu li .sub-menu a:hover {
    background: var(--c_dark-gray);
  }
  
  .hamburger-icon {
    width: 10%;
    height: 100%;
    padding: 1%;
    display: none;
    margin-left: 5%;
    margin-right: 1rem;
  }
  
  .hamburger,
  .hamburger::before,
  .hamburger::after {
    content: "";
    background-color: #48C9B0;
    position: absolute;
    width: 25px;
    height: 2px;
    top: 50%;
  }
  
  .hamburger::before {
    transform: translateY(-10px) rotate(180deg);
  }
  .hamburger::after {
    transform: translateY(8px) rotate(180deg);
  }
  
  @media (max-width: 900px) {
    .top-nav .menu,
    .top-nav .sub-menu a {
      font-size: calc(var(--font_size-description) - 0.1rem) !important;
    }
  }
  
  @media (max-width: 768px) {
    .hamburger-icon {
      display: block;
    }
  
    .top-nav .menu {
      display: none;
    }
  
    .top-nav .menu.active {
      display: flex;
      flex-direction: column;
      height: 100vh;
      position: absolute;
      justify-content: space-evenly;
      background: linear-gradient(black 35%, var(--c_green) 125%);
      width: 100%;
      top: 0;
    }
  
    .top-nav .menu.active ~ .hamburger-icon .hamburger {
      height: 0;
    }
  
    .top-nav .menu.active ~ .hamburger-icon .hamburger::before {
      transform: translateY(0px) rotate(135deg);
    }
  
    .top-nav .menu.active ~ .hamburger-icon .hamburger::after {
      transform: translateY(0px) rotate(45deg);
    }
  
    .top-nav .menu li {
      width: 100%;
      height: 10%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  
    .menu li .sub-menu {
      text-align: center;
      width: 75%;
    }
  
    .top-nav .menu,
    .top-nav .sub-menu a {
      font-size: calc(var(--font_size-description) - 0.2rem) !important;
    }
  }
  
  @media (max-width: 450px) {
    .top-nav .menu {
      display: none;
    }
  
    .top-nav .menu,
    .top-nav .sub-menu a {
      font-size: calc(var(--font_size-description) - 0.25rem) !important;
    }
  }
  
  @media (max-width: 375px) {
    .top-nav .menu {
      display: none;
    }
  
    .top-nav .menu,
    .top-nav .sub-menu a {
      font-size: calc(var(--font_size-description) - 0.3rem) !important;
    }
  }
  
  /* Button */

.primary-btn {
    width: max-content;
    padding: 5px 20px;
    color: #48C9B0;
    background-color: var(--c_green);
    border-radius: 4px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 15px 5px rgba(199, 190, 190, 0.59);
    white-space: nowrap;
  }
  
  .primary-btn:hover {
    transform: scale(1.1);
  }
  
  .primary-btn > a {
    text-decoration: none !important;
    color: white;
    text-shadow: 2px 2px #48C9B0;
  }
  
  .action-menu .primary-btn {
    padding: 2px 20px;
  }
  
  .reset-btn {
    width: max-content;
    padding: 5px 20px;
    color: white;
    text-shadow: 2px 2px #48C9B0;
    background-color: rgb(150, 150, 150);
    border-radius: 4px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 15px 5px rgba(199, 190, 190, 0.59);
    white-space: nowrap;
  }
  
  .secondary-btn {
    width: max-content;
    padding: 5px 20px;
    color: white;
    text-shadow: 2px 2px #48C9B0;
    background-color: transparent;
    border-radius: 4px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    /* box-shadow: 0px 0px 15px 5px rgba(199, 190, 190, 0.59); */
    white-space: nowrap;
  }
  
  .secondary-btn:hover {
    transform: scale(1.1);
  }
  
  .secondary-btn > a {
    text-decoration: none !important;
    color: white;
    text-shadow: 2px 2px #48C9B0;
  }
  
  .action-menu .secondary-btn {
    padding: 2px 20px;
  }
  
  .login-home {
    display: flex;
  }
  
  .card {
    background-color: white;
    opacity: 0.7;
    text-align: center;
    box-shadow: 0px 0px 30px 5px var(--c_green);
  }

/* Login */

.login-container {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.login-content{
    background-color: #fefefe;
    margin: 20vh auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: max-content; /* Could be more or less, depending on screen size */
}

.profile-content {
    background-color: #fefefe;
    margin: 20vh auto; /* 15% from the top and centered */
    padding: 2rem 5rem;
    border: 1px solid #888;
    width: 27rem;
    min-width: 23rem;
}

#profile-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1rem;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Style the tab */
.tab {
    width: fit-content;
    margin: auto;
    overflow: hidden;
    /* border: 1px solid var(--c_dark-green); */
    /* background-color: #f1f1f1; */
}
  
/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 16px;
    transition: 0.3s;
    width: 10em;
    color: black;
}
  
/* Change background color of buttons on hover */
.tab button:hover {
    background-color: var(--c_light-green);
}
  
/* Create an active/current tablink class */
.tab button.active {
    background-color: var(--c_green);
}
  
/* Style the tab content */
.tabcontent {
    display: none;
    width: fit-content;
    margin: 1em auto;
    padding: 0px 12px;
    border-top: none;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

.tabcontent h3 {
    margin-bottom: 12px;
}

.tabcontent label{
    display: block;
    margin-bottom: 2px;
}

.tabcontent input{
    width: 20em;
    margin-bottom: 8px;
    font-size: 1.2em;
    padding: 4px 8px;
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

#profileBtn {
    display: flex;
    justify-content: space-between;
}

#username-nav{
    padding-left: 0.5rem;
}

/* card */

.card {
    background-color: white;
    opacity: 0.7;
    text-align: center;
    box-shadow: 0px 0px 30px 5px var(--c_green);
  }

/* about section */
#about {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
  }
  
  #aboutLogo {
    position: absolute;
    top: 5vh;
    left: 5vh;
  }
  
  #aboutText {
    padding: 7rem 7%;
    padding-right: 2%;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    width: 80%;
    text-align: justify;
  }
  
  #aboutText h1 {
    font-family: var(--font-family);
    font-weight: bold;
    background: rgba(255, 255, 255, 0.7);
    padding: 10px;
  }
  
  #aboutText p {
    flex-basis: 80%;
    font-family: var(--font-family);
    font-size: var(--font_size-details);
    background: rgba(255, 255, 255, 0.7);
    padding: 10px;
  }
  
  @media (max-width: 768px) {
    #about #aboutText {
      margin: 5rem 0.5rem;
      padding: 3rem 2rem;
      gap: 2rem;
      background-color: white;
      opacity: 0.7;
      text-align: center;
      box-shadow: 0px 0px 30px 5px var(--c_green);
    }
  
    #about #aboutText:hover {
      opacity: 1;
    }
  
    #about #aboutText h1 {
      font-weight: 550;
    }
  
    #about #aboutText p {
      text-align: left;
    }
  
    #about p {
      font-size: var(--font_size-details);
    }
}

/* products section */
#products {
   /* height: 60vh; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    background: no-repeat center/100%
        linear-gradient(to bottom, #CCCCFF, 55%,#FADBD8)
  }
  
  #products h1 {
    font-size: 60px;
    margin-top: 120px;
    color: white;
    text-shadow: 2px 2px #48C9B0;
    font-weight: bold;
    font-family: var(--font-family);
    margin-left: 50px;
    text-align: center;
  }
  

  /* products shopping carts */
